html,body{
    background-color: white;
    height: 100%;
}
.imgfooter{
    height: 2.5%;
width: 2.5%;
}
.imgmenu{
    height:30%;
width: 30%;
}
.text-monospace{
    color: black;
}
.fb{
    height: 2%;
    width: 2%;
}
#slide_home{
    width: 100%;
    height: 50%;
    background: url(dunes_berck.jpg) no-repeat fixed;
    background-position: 50% 0px;
    background-size: cover;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 12px black inset;
}
.title{
   margin-top: 20px;
}